#titulos_secciones {
    text-align: center;
}

.titulos_thermonoxilo {
    padding-bottom: 18px;
    font-size: 18pt;
    font-weight: bold !important;
}

.info_thermonoxilo {
    padding: 0px 35px 100px;
    margin: 0px 206.5px;
    text-align: justify;
    font-size: 18px;
}

.espacio_texto {
    padding-bottom: 50px;
}

.img_thx{
    width: 600px;
    padding: 0px 30px 50px;
}

@media screen and (max-width: 768px) {
    .info_thermonoxilo {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px 0px;
        justify-content: center; 
        margin: 0px 80px;
    }

    .titulos_thermonoxilo {
        text-align: center;
    }
    
    .texto_thermonoxilo {
        text-align: justify;
        font-size: 19px;
    }

    .imagenes_thermonoxilo{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .img_thx{
        width: 100%;
        padding: 0px 30px 50px;
    }
}